body {
    overflow-y: scroll;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
h4,
.h4,
h5,
.h5 {
    font-weight: 300;
}

.h1,
h1 {
    font-size: 3rem;
}

.main-inputs-bar {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modebar {
    display: none !important;
}

hr.lessmargin {
    margin: 0.3rem 0;
}

.fixed_height_plot {
    height: 250px;
}

.rc-slider-track {
    background-color: #89a041;
}

.rc-slider-dot-active {
    border-color: #89a041;
    border: solid 2px #89a041;
}

.rc-slider-handle {
    background-color: #89a041;
    border-color: #89a041;
}

.rc-slider-handle:hover {
    border-color: #89a041;
}

.rc-slider-handle-active:active {
    border-color: #89a041;
}